.wrapper{width: 170px;margin: 10px auto;zoom: 1;}
.tabbody{width: 150px;height:160px;}
.tabbody table{line-height: 20px;margin: 5px 0 0 5px;;}
.tabbody table thead{font-weight: bold;line-height: 25px;}