body{font:12px/1.5 Arial;color:#333;}
table,p,form,div,ul{padding:0;margin:0;}
#box{position:relative;border:1px solid #ccc;margin:0;overflow:hidden;}
/*#left,#right{height:100%;overflow:hidden;}*/
#left{background:#fff;float:left;overflow-x:hidden;overflow-y:auto;}
#right{background:#fff;padding:5px 0 0 0px;overflow:hidden;float:right;position:absolute;top:28px;right:5px;}
/*#line{position:absolute;top:0;right:0px;height:100%;width:4px;overflow:hidden;background:#d4d4d4;cursor:w-resize;}*/
/*右侧稿签*/
.f-outer{border:1px solid #ccc;padding:5px 5px 0px 0px;background:#ebe8e8;width:100%;}

.f-content{background-color:#f0f0f0;height:auto;padding-bottom:10px;width:100%;}
.f-title{width:100%;text-align:center;line-height:30px;height:30px;display:block;}
.f-row{width:100%;height:30px;}
.f-row-txt{text-align:right;width:28%;line-height:30px;height:30px;display:inline-block;float:left;}
.form-text{width:65%;line-height:22px;height:22px;margin-left:5px;}
.form-textarea{width:65%;height:50px;;margin-left:5px;font-size:14px;}
/*001添加右侧稿签*/
#do-search{width:45px;border:1px solid;height:26px;line-height:26px;cursor:pointer;background-color:#EBE8E8;display:block;float:Left;margin-left:5px;}
#do-search:hover{background-color:#F0F1F3;}
#f-addmanuscript ul{list-style:none;background-color:#F0F1F3;width:100%;height:25px;}
#f-addmanuscript .f-addmanuscript-title{background-color:#F0F1F3;border:#CCCCCC solid 1px;}
#f-addmanuscript li{float:left;height:25px;line-height:25px;text-align:center;}
#f-addmanuscript .f-titile-1{width:90px;border-right:#CCCCCC solid 1px;}
#f-addmanuscript .f-titile-2{width:40px;border-right:#CCCCCC solid 1px;}
#f-addmanuscript .f-titile-3{width:70px;}
#f-addmanuscript-contents{width:92%;height:100px;overflow-y:scroll;overflow-x:hidden;background-color:#FFF;margin-left:5px;padding:5px;}
#f-managemanuscript{margin-top:25px;margin-bottom:25px;}
#f-managemanuscript ul{list-style:none;background-color:#EBE8E8;width:100%;height:25px;}
#f-managemanuscript li{float:left;height:25px;width:45px;line-height:25px;text-align:center;}
#f-managemanuscript-contents{width:92%;height:100px;overflow-y:scroll;overflow-x:hidden;background-color:#FFF;margin-left:5px;padding:5px;}
#f-managemanuscript span{cursor:pointer;}
#pre-btn:hover,#next-btn:hover{background-color:#68DDDD;height:25px;width:45px;display:block;border:#6C9BBE solid 1px;}
#f-managemanuscript .f-managemanuscript-title{background-color:#F0F1F3;border:#CCCCCC solid 1px;}
#f-managemanuscript .f-managemanuscript-title .f-titile-7{width:90px;border-right:#CCCCCC solid 1px;}
#f-managemanuscript .f-managemanuscript-title .f-titile-8{}
tr:hover{background-color:#68DDDD;}
#tab02 span:hover{cursor:pointer;border:#6C9BBE solid 1px;width:40px;text-align:center;}

/*字体大中小*/
#viewSize{width:85px;height:26px;float:right;}
.font_size{width:14px;height:14px;margin-left:10px;margin-top:5px;cursor:pointer;background-image:url(myimages/fontsize.gif);float:left;}
.font_size_1{background-position:0px 0px;}
.font_size_2{background-position:-40px 0px;}
.font_size_3{background-position:-80px 0px;}

.font_size_select_1{background-position:0px -40px;}
.font_size_select_2{background-position:-40px -40px;}
.font_size_select_3{background-position:-80px -40px;}
/*修订样式*/
strike.deleted{color:#ff0000;}

/*菜单头部样式*/
.tab_head{ width:100%; height:27px;float:left;background:#e2e6e9;border-bottom:1px solid #b2b7bb;}
.tab_content{ float:left;overflow:hidden;width:100%;height:100px;background:url(myimages/tabContentBg.jpg) repeat-x;padding-top:-5px; }
.tab_content div{float:left;}
.tab_split{width:3px; height:88px;background:url(myimages/tabSplit.jpg) no-repeat;}
.tab_outer{height:100px;width:300px;}
.tab_outer .tab_t{width:100%;height:70px;overflow:hidden;}
.tab_outer .tab_b{width:100%;height:20px;line-height:14px;text-align:center;overflow:hidden;}

.tab_list{ list-style:none; padding:0px;padding-top:1px; margin:0px;}
.tab_list li{
	width:60px; height:25px;float:left;
	font-family:"微软雅黑";font-size:12px;color:#393939;
	display:block;text-align:center;line-height:25px;
}			
.tab_list li.default{cursor:pointer;}		
.tab_list li.confirm{background:#fff url(myimages/tabConfirmBg.gif) no-repeat;}

/*新增按钮样式*/
.edui-default  .edui-for-save   .edui-button-wrap  .edui-button-body   .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -26px -2px;
}

.edui-default  .edui-for-textpreview  .edui-button-wrap  .edui-button-body    .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: 0px -28px;
}

.edui-default  .edui-for-ajustment  .edui-button-wrap  .edui-button-body    .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -48px -2px;
}

.edui-editor-toolbarboxouter .edui-default .edui-for-hotword  .edui-button-wrap  .edui-button-body    .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: 0px -2px;
}

.edui-default .edui-for-newversion .edui-button-wrap  .edui-button-body  .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -73px -28px;
}
.edui-editor-toolbarboxouter .edui-default .edui-for-versionhistory  .edui-button-wrap  .edui-button-body   .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -119px -28px;
}
.edui-editor-toolbarboxouter .edui-default .edui-for-modifytrace  .edui-button-wrap  .edui-button-body    .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -96px -28px;
}
.edui-default .edui-for-check .edui-button-wrap  .edui-button-body   .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -25px -28px;
}
.edui-editor-toolbarboxouter .edui-default .edui-for-textcompare .edui-button-wrap  .edui-button-body    .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -49px -28px;
}

.edui-editor-toolbarboxouter  .edui-default  .edui-for-countlist   .edui-button-wrap  .edui-button-body   .edui-icon {
    height: 20px !important;
    width: 20px !important;
    background-image: url(myimages/myicons.png);
    background-image: url(myimages/myicons.gif) \9;
    background-position: -95px -2px;
}

/*大图标*/
.edui-default .edui-toolbar .edui-button .edui-icon-2,
.edui-default .edui-toolbar .edui-menubutton .edui-icon-2,
.edui-default .edui-toolbar .edui-splitbutton .edui-icon-2 {
    height: 30px !important;
    width: 30px !important;
	margin-left:10px;
    background-image: url(myimages/myicons-big.png);/*TODO*/
    background-image: url(myimages/myicons-big.gif) \9;
}

.edui-default  .edui-for-drafts  .edui-icon-2 {
    background-position: -842px 0;
}

.edui-default  .edui-for-save  .edui-icon-2 {
    background-position: -1128px -115px;
}

.edui-default  .edui-for-textpreview  .edui-icon-2 {
    background-position: -1089px -152px;
}

.edui-default  .edui-for-preview .edui-icon-2 {
    background-position: -631px -30px;
}

.edui-default  .edui-for-help .edui-icon-2 {
    background-position: -511px 0;
}

.edui-default  .edui-for-insertimage .edui-icon-2 {
    background-position: -1090px -115px;
}

.edui-default  .edui-for-print .edui-icon-2 {
    background-position: -661px -30px;
}

/*弹出窗口大小*/
.edui-default .edui-for-countlist .edui-dialog-content {
    width:170px;
    height:190px;
}

.edui-default .edui-for-hotword .edui-dialog-content {
    width: 450px;
    height: 240px;
}

.edui-default .edui-for-versionhistory .edui-dialog-content {
    width: 450px;
    height: 240px;
}
.edui-default .edui-for-versioncontent .edui-dialog-content {
    width: 700px;
    height: 500px;
}
.edui-default .edui-for-textcompare .edui-dialog-content {
    width: 400px;
    height: 100px;
}